@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
}

body {
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: white;
  height: 80px;
  z-index: 1;
  margin-bottom: 1.5rem;
}

h1{
  font-weight: 500;
  padding: 5px;
}

h1 span {
  color: green;
}

.selection-container {
  background-color: blanchedalmond;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} 

.container-restaurant {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 -webkit-box-shadow: 7px 6px 17px 0px rgba(0,0,0,0.36);
 -moz-box-shadow: 7px 6px 17px 0px rgba(0,0,0,0.36);
 box-shadow: 7px 6px 17px 0px rgba(0,0,0,0.36);
 margin: 16px 16px;
 padding: 20px;
}




/* MEDIA QUERIES TABLET */
@media (min-width: 667px) {
  .selection-container{
    justify-content: flex-start;
  }

  .selection-container div {
    margin-right: 0.5rem;
  }

 .card-container {
   display: flex;
   flex-direction: row;
   flex-direction: wrap;
 }

 .container-restaurant {
   width: 40%;
 }



}

/* MEDIA QUERIES DESKTOP */
@media (min-width: 1024px) { 
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
 
   .selection-container {
     background-color: white;
   } 
   
   .selection-container div {
    margin-right: 1rem;
  }
}

